body {
  font-family: Arial;
  background: #f0f2f5;
}

#login, #chat {
  width: 400px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

#messages {
  height: 300px;
  border: 1px solid #ccc;
  overflow-y: auto;
  padding: 5px;
  margin-bottom: 10px;
}

.msg {
  margin: 4px 0;
}
